<%= provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
 <b>BankTracker</b> is a Prizzm, Inc. application.  It allows customers to track businesses they deal with, can collaborate with other customers of the same businesses.
 <p>
 <b>Team</b> Founded by Charles Oppenheimer in 2011 based on over a decade of work in the CRM industry, Prizzm was founded on the premise that the future of Customer Relationship Management will be powered by the customers themselves.
 <p>
 <b>Reverse CRM</b> Banktracker is a Reverse CRM application - software that allows customers to review businesses they deal with and share their feedback.
 <p>
<iframe width="420" height="315" src="http://www.youtube.com/embed/J7T1NeNHzUM" frameborder="0" allowfullscreen></iframe> 	
</p>