<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<div class="row">
  <div class="span6">
    <p>
    <p>Banktracker (Prizzm, Inc) is located in San Francisco, CA
	<p>Email: contact@prizzm.com
    <p>Call: (415) 577-3411
    <p>Address:
    653 5th Avenue 
    San Francisco, CA 94118
  </div>

  <div class="span6">	
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=San+Francisco,+California&amp;aq=&amp;sll=37.147182,-120.651855&amp;sspn=2.254815,6.690674&amp;ie=UTF8&amp;geocode=FVJmQAIdKAe0-A&amp;split=0&amp;hq=&amp;hnear=San+Francisco,+California&amp;ll=37.77493,-122.419416&amp;spn=69.313771,147.128906&amp;t=m&amp;z=3&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;q=San+Francisco,+California&amp;aq=&amp;sll=37.147182,-120.651855&amp;sspn=2.254815,6.690674&amp;ie=UTF8&amp;geocode=FVJmQAIdKAe0-A&amp;split=0&amp;hq=&amp;hnear=San+Francisco,+California&amp;ll=37.77493,-122.419416&amp;spn=69.313771,147.128906&amp;t=m&amp;z=3" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </div>
</div>

</p>