<%= provide(:title, 'Help') %>
<h1>Help</h1>
  <li><p>BankTracker is for tracking your interactions with your bank.  Especially for those homeowners who are refinancing your mortage. Some things you can use it for:
  <li><p>Tracking your calls - have a record of exactly how many calls you made. </p>
  <li><p>Networking with other customers of the bank - for each bank you can see other customers, and what experience they have had with the bank. You can follow the ones you are interested in.</p>
  <li><p>Recording your calls - you can record the calls to the bank.</p>
  <li><p>Broadcasting - use your social network to track your experience. Plug in your twitter an FB credential to broadcast your info</p>
</p>